html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Roboto, Arial, sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    padding: 5%;
    overflow: auto;
    align-items: center;
}

#page-title {
    font-size: 55px;
    font-family: math;
}

.page-title-container {
    padding-bottom: 15px;
}

#map-panel-container {
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#side-panel-container {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    border: 3px inset grey;
    background-color: #f6f6f6;
    border-radius: 15px;
}

#map-container {
    width: 100%;
    border: 6px inset darkgreen;
    border-radius: 15px;
    margin-right: 7px;
    background-color: #d3d3d3;
}

#map-container iframe {
    border-radius: 10px;
}

svg#map {
    width: 100%;
    height: 100%;
}

#filters-parent-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.filter-container {
    padding: 10px;
    border-radius: 15px;
    border: 2px inset black;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.filter-contents {
    /*min-height: 0px;*/
    /*align*/
}

.filter-title-reset-container {
    display: flex;
    font-family: monospace;
    flex-direction: row;
    justify-content: space-between;
}

.filter-title-container {
    padding: 5px;
}

div {
    /*border: .5px solid black;*/
}

*, *:before, *:after {
    box-sizing: border-box;
}

.filter-contents.icons {
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-grow:1;
    flex-wrap: wrap;
    max-height: 470px;
    gap: 20px;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    /*object-fit: contain;*/
    /*overflow-y: hidden;*/
    white-space: nowrap;
}

.icon-parent-container {
    /*min-width: 60px;*/
    /*max-width: 50px;*/
    flex-grow: 1;
    /*aspect-ratio: 1 / 1;*/
    transition: all 1s ease-in-out;
}

.icon-parent {
    border-radius: 50%;
    /*margin: 2%;*/
    /*width: 50px;*/
    /*height: 50px;*/

    border: 1px outset black;
    /*flex-grow: 1;*/
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #797979;

}

.icon-parent-container:hover {
    z-index: 1;
    transform: scale(1.05);
    /*min-width: 70px;*/
    /*max-width: 70px;*/
}

.icon-parent:hover {
    filter: brightness(80%);
}

.icon {
    height: 70%;
    width: auto;
    display: block;
    /*filter: invert(100%);*/
    /*transform: translateX(4px);*/
}

.icon-label {
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.icon-disappear {
    width: 0;
    height: 0;
    opacity: 0;
    /*top: 50%;*/
    /*left: 50%;*/
}

#map-legend-container {
    margin-top: 5px;
    margin-left: 10px;
    width: 100%;
}

#map-legend {
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid grey;
    font-family: monospace;
}

.legend-contents {
    display: flex;
    align-items: center;
}